@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

#nd-nav > div,
#nd-subnav {
  background-color: color-mix(
    in srgb,
    var(--color-fd-background) 60%,
    transparent
  );
}
